<div class="quizgame">
    <div class="controller">
        <button class="previous"><i class="fa-solid fa-angles-right fa-rotate-180"></i></button>
        <p class="progress">1 - 30</p>
        <button class="next"><i class="fa-solid fa-angles-right"></i></button>
    </div>
    <div class="unknown-img">
        <img src="" alt="">
        <p></p>
    </div>
    <div class="gg">
        <div class="usrinp">
            <input type="text" placeholder="write your guesss">
            <i class="fa-regular fa-circle-check right-guess" id="status"></i>
            <i class="fa-regular fa-circle-xmark wrong-guess" id="status"></i>
        </div>
        <div class="btns">
            <button class="guess-btn">submit</button>
            
        </div>
    </div>
</div>
<div class="resultbox">
    <div class="result-selected-groups">
        <p class="groups">Groups</p>
    </div>
    <p class="result-total-specimens"></p>
    <p class="result-identified-specimens"></p>
    <button class="restart">restart</button>
</div>