* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
}

h1 {
    width:90%;
    margin:0 5%;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    border-top:1px solid #949292;
    padding:1rem 0;
    border-bottom:1px solid #949292;
    text-align: center;
    color: #1f1f1f;
}

main {
    width: min(90%, 400px);
    margin:10vh auto;
    margin-bottom:20vh;
    border:1px solid #dadada;
    border-radius: 8px;
}

button:active {
    transform:scale(1.01,1.05)
}

.selection {
    width: 100%;
    padding:2rem;
}

.select-option {
    position: relative;
    margin-bottom:2rem;
}

.labels {
    font-size:1rem;
    width:100%;
    color: #1f1f1f;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

select {
    width:80%;
    font-size:1rem;
    color: rgb(37, 37, 37);
    padding: 8px;
    background:none;
    border-radius: 5px;
    border:0.5px solid #c9c9c9;
    appearance: none;
}

.add {
    height: 100%;
    position: absolute;
    font-size: 1rem;
    border:1px solid #3df79a;
    color: #3df79a;
    background: none;
    padding: 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 5px;
    margin-left:1rem;
    text-align: center;
}

.count {
    position: relative;
    display: flex;
    width:100px;
    padding:5px;
    justify-content: flex-start;
    align-items: center;
    border:1px solid #e2e2e2;
    border-radius: 5px;
}

.count p {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#plus-count {
    margin-left:auto;
    font-size:0.7rem;
    padding:0 5px;
    color:black;
    background: none;
    border: 0;
    border-right:1px solid black;
}

#minus-count {
    padding:0 5px;
    font-size: 0.7rem;
    color: black;
    background: none;
    border: 0;
}


.selected-groups {
    margin:2rem 0;
}

h3 {
    font-size:1rem;
    color: #1f1f1f;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
}

.selected-groups-list li, .result-selected-groups li {
    list-style-type: none;
    display: inline-flex;
    flex-flow: row nowrap;
    margin-right:1rem;
    padding:5px 7px;
    border:0.5px solid #979797;
    color: #414141;
    font-size:0.8rem;
}

.clear {
    float: right;
    padding-left: 7px;
    color: #949292;
    font-weight: 100;
}


.start-btn {
    width:100%;
    font-size:1.2rem;
    padding:7px;
    background:none;
    font-weight: bold;
    border-radius: 10px;
    border:2px solid #3df79a;
    background-color: #3df79a;
    color: white;
}

.id-quiz {
    width: 100%;
}

.controller {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.progress {
    margin:auto;
    font-size: 1rem;
}

.next {
    background: none;
    font-size:1.2rem;
    color: #414141;
    border:0;
}

.controller p {
    font-family: 'Courier New', Courier, monospace;
}


.unknown-img {
    position: relative;
}

.unknown-img img {
    width:100%;
    height:300px;
}

.unknown-img p {
    position: absolute;
    text-align:center;
    visibility: hidden;
    width:100%;
    bottom: 0.8rem;
    font-size:1.2rem;
    color: white;
    padding:8px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.322);
}

.gg {
    padding:1.5em;
}

.usrinp {
    position: relative;
}

.usrinp input {
    width:100%;
    padding:8px;
    background:none;
    font-size:1.2rem;
    color: #414141;
    font-family: 'Courier New', Courier, monospace;
    border:1px solid #949292;
    margin-bottom:1.5rem;
}

.usrinp input:focus {
    outline: 0;
}

#status {
    position: absolute;
    right: 1.5rem;
    font-size: 1.2rem;
    top:10px;
}

.right-guess {
    color:#24e67b;
}

input.right-guess {
    border-color:#24e67b;
    border-width: 2px;
}

.wrong-guess {
    color: red;
}

input.wrong-guess {
    border-color:red;
    border-width: 2px;
}

.btns {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.guess-btn {
    width: 100%;
    padding:8px;
    font-size:1rem;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border:2px solid black;
    margin-right:1.5rem;
    margin-bottom:1rem;
}

.resultbox {
    padding: 1.5rem;
    border-top:10px solid #3dc2f7;
    border-radius: 8px;
}

.result-selected-groups {
    margin-bottom: 3rem;
}

.groups {
    font-size:1.2rem;
    margin-bottom:0.5rem;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.result-total-specimens {
    margin-bottom: 10px;
    font-size: 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom:1px solid #c9c9c9;
    color: #414141;
    padding-bottom:10px;
    font-family: 'Courier New', Courier, monospace;
}

.num {
    font-size:1.5rem;
    margin-right:1rem;
    font-weight: bold;
}

.result-identified-specimens {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    color: #414141;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Courier New', Courier, monospace;
}

.restart {
    background: none;
    margin-left: 80%;
    padding:8px 10px;
    border:2px solid #3dc2f7;
    font-weight: bold;
    color: #3dc2f7;
}


@media screen and (max-width:700px) {
    .result-total-specimens {
        font-size: 0.9rem;
    }

    .result-identified-specimens {
        font-size: 0.9rem;
    }
}